<!--Version 1, just getting started with the HTML :), next should look
at adding some styling and finding functionality to add table rows usings buttons-->

<!DOCTYPE html>

<html>
    <head>
        <title>Timesheet demo</title>
    </head>

    <style>
    table, th, td {
      border: 1px solid black;
    }

    </style>

    <!--Top row of buttons-->
    <body>
    <div>
        <button>Back</button>
        <button>This Week</button>
        <button><</button>
        <button>></button>
    </div>

    <table>
        <thead>
        <tr>
            <th>Cost Centre</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thur</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
            <th>Total:</th>
        </tr>
        </thead>
        <tbody>
       <tr>
            <td>Company1</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
      </tr>
      <tr>
            <td>Company2</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
      </tr>
      </tbody>
    </table>

    <!--Bottom row of buttons-->
    <div>
        <button>Add new row</button>
        <button>Export</button>
        <button style="border-color: blue;">Submit</button>
    </div>
    </body>
</html>

<router-outlet></router-outlet>

